{% extends "base.html" %}

{% block title %}{{ product.category }}{% endblock %}

{% block content %}
    <center>
        <div class="card mb-3 mt-1" style="width: 100%; height: 100%;">
            <div class="row g-0">
            <div class="col-md-6">
                <img src="http://127.0.0.1:8000{{data.img}}" style="height: 100%; width: 100%;" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                <h3 class="card-title">{{data.title}}</h3>
                <p class="card-text">{{data.description}}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            </div>
        </div>
    </center>
    <h1>Category is {{data.title}}</h1>
    <hr class="dropdown-divider">
    
    <div class="container card-group mt-5">
        
        {% for i in product %}
                <div class="me-5 mb-5" style="width: 18rem;">
                    <img src="http://127.0.0.1:8000{{ i.img }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text">{{ i.description }}</p>
                {% if i.quantity %}
                    <p class="card-text text-success">We have {{ i.quantity }} this products now</p>
                    <a href="#" class="btn btn-primary">add card</a>
                {% else %}
                    <p class="card-text text-danger">We don't have this product now</p>
                    <a href="#" class="btn btn-primary disabled">add card</a>
                {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
