{% extends "base.html" %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
    <center>
        <div class="card mb-3 mt-1" style="width: 100%; height: 100%;">
            <div class="row g-0">
                <div class="col-md-4 col-md-6">
                    <img src="http://127.0.0.1:8000{{ product.img }}" style="height: 100%; width: 100%;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                        <p class="card-text text-success">We have {{ product.quantity }} this products now</p>
                    <p class="card-text"><small class="text-muted">Created {{ product.created }} ago</small></p>
                    <p class="card-text"><small class="text-muted">Last updated {{ product.updeted }} ago</small></p>
                    <a href="#" class="btn btn-primary" role="button" aria-pressed="true">add card</a>
                    <!-- <a href="#" class="btn btn-outline-danger" role="button" aria-pressed="true">Line</a> -->
                    <a href="#" class="m-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-heart" style="color: red; font-size: 10px" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                    </a>
                </div>
                </div>
            </div>
    </center>

    <h1>Product</h1>
    <hr class="dropdown-divider">
    
    <div class="container card-group mt-5">
        
        {% for i in products %}
                <div class="me-5 mb-5" style="width: 18rem;">
                    <img src="http://127.0.0.1:8000{{ i.img }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text">{{ i.description }}</p>
                {% if i.quantity %}
                    <p class="card-text text-success">We have {{ i.quantity }} this products now</p>
                    <a href="{% url 'product:product' i.id %}" class="btn btn-primary">add card</a>
                {% else %}
                    <p class="card-text text-danger">We don't have this product now</p>
                    <a href="{% url 'product:product' i.id %}" class="btn btn-primary disabled">add card</a>
                {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
