{% extends "base.html" %}

{% block title %}{{ request.user.username }}{% endblock %}

{% block content %}

    <h1>Products</h1>
    <hr class="dropdown-divider">
    
    <div class="container">
        
        {% for i in products %}
            <div class="card mb-3" >
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ i.img }}" class="img-fluid rounded-start" style="height: 100%;" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text">{{ i.description }}</p>
                    <p class="card-text"><small class="text-muted">Last updated {{ i.created }} ago</small></p>
                    <button type="button" class="btn btn-primary me-3">Update</button>
                    <button type="button" class="btn btn-danger me-3">Delete</button>

                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
